.basket {
	background-color: #eaeded;
}

.basket_left,
.basket_right {
	background-color: rgb(255, 255, 255);
	border: 1px solid lightgrey;
	border-radius: 10px;
}

.basket_checkout_btn {
	background-color: #ffd814;
	border: 1px solid rgb(148, 148, 148);
	border-radius: 5px;
	margin: 10px auto 10px auto;
	color: black;
	width: 70%;
}
.basket_right_description {
	color: green;
	align-items: center;
}

.basket_left_ul {
	list-style-type: none;

}

@media (min-width: 768px) {
	.basket_right {
		height: 290px;
	}
}

@media (min-width: 803px) {
	.basket_right {
		height: 290px;
	}
}
@media (min-width: 840px) {
	.basket_right {
		height: 255px;
	}
}
@media (min-width: 1002px) {
	.basket_right {
		height: 225px;
	}
}
@media (min-width: 1028px) {
	.basket_right {
		height: 200px;
	}
}
@media (min-width: 1674px) {
	.basket_right {
		height: 175px;
	}
}
