.basket {
	background-color: #eaeded;
}

.basket_left,
.basket_right {
	background-color: rgb(255, 255, 255);
	border: 1px solid lightgrey;
	border-radius: 10px;
}

.basket_checkout_btn {
	background-color: #ffd814;
	border: 1px solid rgb(148, 148, 148);
	border-radius: 5px;
	margin: 10px auto 10px auto;
	color: black;
	width: 70%;
}
.basket_right_description {
	color: green;
	align-items: center;
}

.basket_left_ul {
	list-style-type: none;
	/* margin: 0px 15px;
	padding: 0px; */
}

@media (min-width: 768px) {
	.basket_right {
		height: 290px;
	}
}
@media (min-width: 788px) {
	.basket_right {
		height: 270px;
	}
}
@media (min-width: 824px) {
	.basket_right {
		height: 245px;
	}
}
/* @media (min-width: 845px) {
	.basket_right {
		height: 244px;
	}
} */
@media (min-width: 986px) {
	.basket_right {
		height: 225px;
	}
}
@media (min-width: 1010px) {
	.basket_right {
		height: 200px;
	}
}
@media (min-width: 1658px) {
	.basket_right {
		height: 175px;
	}
}
