.home {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
.home_product_carousel {
	margin-bottom: -150px;
}
.objectcont {
	flex-wrap: wrap;
	overflow: hidden;
	justify-content: space-evenly;
	margin-bottom: 10px;
}
.objectcont_1 {
	flex-wrap: wrap;
	overflow: hidden;
	/* justify-content: space-evenly; */
	/* justify-content: ; */
}

.gap-1 {
	gap: 0.25rem;
}
.gap-2 {
	gap: 0.5rem;
}
.gap-3 {
	gap: 1rem;
}



.carousel-item {
	width: 100%;
	max-height: 655px;
	mask-image: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));
	z-index: -1;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
	display: none !important;
}

.home_product_promotion_row,
.home_product_row_1 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
