.home {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
.home_product_carousel {
	margin-bottom: -150px;
}
.objectcont {
	flex-wrap: wrap;
	overflow: hidden;
	justify-content: space-evenly
}
.objectcont_1 {
	flex-wrap: wrap;
	overflow: hidden;
	justify-content: left
}

.carousel-item {
	width: 100%;
	max-height: 655px;
	mask-image: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));
	z-index: -1;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
	display: none !important;
}

.home_product_promotion_row,
.home_product_row_1 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.home_product_row_1 {
	/* width: 100%;
	flex-wrap: wrap; */
}
