.product-comp-four {
	display: flex;
	flex-direction: row;
	min-height: 220px;
}

.basket_left > ul li {
	border-bottom: 1px solid rgb(148, 148, 148);
}

.basket_left > ul li:last-child {
	border: 0px;
}

.firstBox > img {
	width: 40%;
}

.pdItem {
	max-height: 200px;
}

.product_four_description {
	display: flex;
	flex-direction: column;
}

.product_four_btn {
	border: 1px solid rgb(148, 148, 148);
	background-color: #ffd814;
	border-radius: 5px;
	color: black;
	margin-left: auto;
	margin-right: auto;
}

.buttonAndPrice {
	align-items: center;
	justify-content: space-between;
}

@media (min-width: 200px) {
	.product-comp-four {
		flex-direction: column;
		justify-content: center;
	}
	.pdItem {
		display: none;
	}
	.firstBox > img {
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 450px) {
	.product-comp-four {
		flex-direction: column;
		justify-content: center;
	}
	.pdItem {
		display: inline;
		white-space: wrap;
		text-overflow: clip;
		overflow: hidden;
	}
	.firstBox > img {
		margin-left: 0px;
		margin-right: 0px;
		width: 35%;
	}
}

@media (min-width: 1000px) {
	.firstBox > img {
		margin-left: 0px;
		margin-right: 0px;
		width: 30%;
	}
}
@media (min-width: 1600px) {
	.firstBox > img {
		width: 20%;
	}
}
@media (min-width: 1600px) {
	.product_four_btn {
		width: 20%;
	}
}
