.product-comp-four {
	display: flex;
	flex-direction: row;
	min-height: 220px;
}

.basket_left > ul li {
	border-bottom: 1px solid rgb(148, 148, 148);
}
.basket_left > ul li:last-child {
	border: 0px;
}

.product-comp-four > img {
	width: 40%;
}
.pdItem {
	max-height: 200px;
}

.product_four_description {
	display: flex;
	flex-direction: column;
}

.product_four_btn {
	border: 1px solid rgb(148, 148, 148);
	background-color: #ffd814;
	border-radius: 5px;
	color: black;
	margin-left: auto;
	margin-right: auto;
}

.buttonAndPrice {
	align-items: center;
	justify-content: space-between;
}

@media (min-width: 200px) {
	.product-comp-four {
		flex-direction: column;
		justify-content: space-around;
	}
}
@media (min-width: 1100px) {
	.product_four_btn {
		width: 40%;
	}
}
@media (min-width: 1600px) {
	.product_four_btn {
		width: 20%;
	}
}
@media (min-width: 1600px) {
	.product_four_btn {
		width: 20%;
	}
}
