 .header {
	top: 0;
	height: 75px;
	width: 100%;
	position: sticky;
	z-index: 100;
	background-color: rgb(0, 0, 0);
	color: aliceblue;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.header_back_office {
	cursor: pointer;
	margin-right: 30px;
}
.header_search {
	display: flex;
	flex-grow: 2;
	height: 55px;
	align-items: center;
	max-width: 60%;
}
.header_location {
	display: flex;
	flex-direction: row;
	margin-right: 30px;
}
.header_options {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-evenly;
}


a {
	color: white !important;
	text-decoration: none !important;
}

.dropdown-menu {
	background: black !important;
}
.dropdown-item:hover {
	color: rgb(255, 255, 255) !important;
	background: rgb(58, 57, 57) !important;
	text-decoration: underline;
}

.header_location_info {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#dropdown-variants-secondary {
	border-radius: 5px 0px 0px 5px;
	background-color: #f3f3f3;
	height: 55px;
	border: none;
	color: black;
}
#dropdown-secondary {
	background-color: black;
	color: white;
	height: 55px;
	border: none;
}

.header_search_icon {
	background-color: #ecb66f;
	height: 55px;
	width: 55px;
	padding: 12px;
	color: rgb(0, 0, 0);
	border-radius: 0px 5px 5px 0px;
}

.header_search_input {
	height: 55px;
	width: 80%;
	border: none;
}

.header_options_4 {
	display: flex;
	flex-direction: row;
	margin-top: 15px;
}

.header_options_0,
.header_options_1,
.header_options_2,
.header_options_3,
.header_options_4 {
	margin: 10px 0px 0px 20px;
} 

.header_logo {
	object-fit: contain;
	height: 50px;
	margin: 0px;
	padding: 7px;
	margin-top: 7px;
}

/* .my_nav_bar {
	background-color: black !important;
	color: white !important;
	height: 65px;
}


.header_search.dropdown {
	background-color: black;
}

.navbar-toggler {
	background-color: white !important;
} */
